extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader.title
                    small &nbsp;#{pageHeader.subTitle}

    .row
        .col-xs-12.col-sm-8
            .row.list-group
                .col-xs-12.list-group-item
                    h4
                      each location in locations
                        a(href="/location")= location.name
                        small &nbsp;
                            - for(i=0; i < location.rating; i++) 
                                span.glyphicon.glyphicon-star
                            - for(i=location.rating; i < 5; i++) 
                                span.glyphicon.glyphicon-star-empty                           
                        span.badge.pull-right.badge-default= location.distance
                        p.address= location.address
                        p 
                          each facility in location.facilities
                            span.label.label-warning= facility
                            &nbsp;
                        
        .col-xs-12.col-sm-4
            p.lead Ever feel the need to get connected immediately? WiFind helps you find the next hotspot to sit down, grab some food or a drink, and get connected immediately! 
